appdirs
certifi
chardet
defusedxml
Django
django-braces
django-hitcount
django-model-utils
django-social-widgets
django-widget-tweaks
idna
oauthlib
packaging
Pillow
psycopg2
PyJWT
pyparsing
python-memcached
python-social-auth
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
swapper
urllib3