{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="list">
	<h1>New item</h1>
	<div class="list-container">
		
	{% if user.is_superuser %}
		<div class="profile-menu">
			<a href="{% url 'post_new' %}">New blog post</a>
			<a href="{% url 'item_new' %}">New shop item</a>
			<a href="{% url 'post_draft_list' %}">Blog post drafts</a>
			<a href="{% url 'item_draft_list' %}">Shop item drafts</a>
			<a href="{% url 'contact_list' %}">Support</a>
		</div>
	{% else %}
		<h1>Warning</h3>
		<p>You are not authorised to use development tools</p>
	{% endif %}
		<form method="post" class="post-form" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
			<p>
				{% render_field field placeholder=field.label %}
				{% for error in field.errors %}
					<small style="color: red">{{ error }}</small>
				{% endfor %}
			</p>
			{% endfor %}
			<button type="submit">Save</button>
		</form>
	</div>
</div>
{% endblock %}