{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="list">
	<div class="list-container">
		<h1>Show me the money!</h1>
		{{ form.render }}
	</div>
</div>
	{% block javascript %}
<script>
$('input[type="image"]').wrap('<div class="button paypal" style="padding:0;display:inline-block;"></div>');
$('input[type="image"]').css("opacity","0");
$('<div style="text-align:center;margin-top:-35;padding-bottom:9;"><i class="fa fa-paypal" style="margin-right:5;"></i>PayPal</div>').insertAfter($('input[type="image"]'));
</script>
	{% endblock %}
{% endblock %}