{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
	<div class="list topless">
		<div class="list-container">
			<h1>Login</h1>
			<div class="account-login">
				<a href="{% url 'social:begin' 'facebook' %}" class="facebook"><i class="fa fa-facebook"></i>Facebook</a>
				<a href="{% url 'social:begin' 'google-oauth2' %}" class="google"><i class="fa fa-google"></i>Google</a>
				<a href="{% url 'social:begin' 'twitter' %}" class="twitter"><i class="fa fa-twitter"></i>Twitter</a>
			</div>
			<div class="decorated"><span>or</span></div>
			<form method="post" action="{% url 'login' %}" class="post-form">
				{% csrf_token %}
				{% for field in form %}
				<p>
					{% if field.errors %}
						{% render_field field style="border-bottom: 0.5px solid red;" placeholder=field.label %}
						{% for error in field.errors %}
							<small style="color: red">{{ error }}</small>
						{% endfor %}
					{% else %}
						{% render_field field placeholder=field.label %}
					{% endif %}
				</p>
				{% endfor %}
				<button type="submit">Login</button>
			</form>
			<!--<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>-->
			<br/>
			<hr/>
			<a href="{% url 'signup' %}" class="button button-half">Sign up</a>
			<a href="{% url 'password_reset' %}" class="button button-half">Forgot password?</a>
		</div>
	</div>
{% endblock %}