{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
			<div class="list topless">
				<div class="list-container">
					<h3>Forgot password</h3>
					<form method="post" class="post-form">
						{% csrf_token %}
						{% for field in form %}
						<p>{% if field.errors %}
							{% render_field field class="error-field" placeholder=field.label %}
							{% for error in field.errors %}
							<small class="error">{{ error }}</small>
							{% endfor %}
							{% else %}
							{% render_field field placeholder=field.label %}
							{% endif %}
						</p>
						{% endfor %}
						<button type="submit">Submit</button>
					</form>
				</div>
			</div>
{% endblock %}