{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="list">
	<div class="list-container">
		<h3>Forgot password</h3>
		<form method="post" class="post-form">
				{% csrf_token %}
				{% for field in form %}
				<p>
					{% if field.errors %}
						{% render_field field style="border-bottom: 0.5px solid red;" placeholder=field.label %}
						{% for error in field.errors %}
							<small style="color: red">{{ error }}</small>
						{% endfor %}
					{% else %}
						{% render_field field placeholder=field.label %}
					{% endif %}
				</p>
				{% endfor %}
			<button type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}