{% autoescape off %}
Hi {{ user.username }}
Let me be the first to welcome you to my very own community. It still is kind of weird for me thinking that I have a community. 
I am not a natural leader but that aside I hope you enjoy what my website has to offer and I hope that you contribute in some or 
other way.
Click below to activate your account:

http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Sincerely,
Vihan
{% endautoescape %}