{% load staticfiles %}
<html>
	<head>
		<title>Victor's blog</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="max-age=604800" />
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/min_device.css' %}">
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/scroll_top.js' %}"></script>
	</head>
	<body>
		<div class="load-container">
			<div class="loader"></div>
		</div>
		<div id="top"></div>
		<div id="navbar" class="sticky">
			<div class="navigation-menu">
				<div class="menu-bars">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
				<a class="main" href="{% url 'home' %}">Home</a>
				<a class="main" href="{% url 'post_list' %}">Blog</a>
				<a class="main" href="{% url 'contact' %}">Contact</a>
			{% if user.is_authenticated %}
				<!--{% url 'profile_view' pk=user.pk %}-->
				<a id="user" style="background-image: url('/media/{{ user.profile.profile_picture }}');" class="dropbtn"></a>
				<div class="greeting username">{{ user.username }}</div>
			{% else %}
				<a href="{% url 'login' %}" class="user" id="user" style="background-image: url('{% static 'images/user.png' %}');"></a>
				<div class="greeting"><a href="{% url 'login' %}">Log in</a></div>
				<div class="greeting"><a href="{% url 'signup' %}">Sign up</a></div>
			{% endif %}
				<div class="main-menu">
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'post_list' %}">Blog</a>
					<a href="{% url 'contact' %}">Contact</a>
				</div>
				<a href="#top" id="top-scroll">T</a>
			</div>
		</div>
		{% if user.username %}
		<div class="dropdown">		
			<div id="myDropdown" class="dropdown-content">
				<a href="{% url 'profile_view' pk=user.pk %}">Profile</a>
				<a href="{% url 'profile_edit' %}">Settings</a>
				<a href="{% url 'logout' %}">Log out</a>
			</div>
		</div>
		{% endif %}
		<div class="content-container">
		{% block content %}
		{% endblock %}
		</div>
		<div class="page-footer">
			<a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
			<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
			<a href="#" class="google"><i class="fa fa-google"></i></a>
			<a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
			<div class="copyright">©2019 Victor's blog. All rights reserved.<div/>
		</div>
	</body>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/scroll_top.js' %}"></script>
</html>