{% load staticfiles %}
<html>
	<head>
		<title>Victor's blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Black+Ops+One" />-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/Dosis.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="{% static 'js/base.js' %}"></script>
	</head>
	<body>
		<div id="navbar" class="sticky">
				<div class="navigation-menu">
					<a class="active" href="/">Home</a>
					<a href="/post/">Blog</a>
					<a href="/shop/">Shop</a>
					<a href="{% url 'contact' %}">Contact</a>
				{% if user.is_superuser %}
					<a href="{% url 'dev_tools' %}">Development tools</a>
				{% endif %}
				{% if user.is_authenticated %}
					<a href="{% url 'profile_view' pk=user.pk %}" id="user" style="background-image: url('/media/{{ user.profile.profile_picture }}');"></a>
					<div class="greeting" style="padding: 16px;">{{ user.username }}</div>
				{% else %}
					<div class="greeting"><a href="{% url 'login' %}">Log in</a></div>
					<div class="greeting"><a href="{% url 'signup' %}">Sign up</a></div>
				{% endif %}
				</div>
				<!-- <div style="background-color:#1e1f1f;height:2px;width:100%"></div> -->
		</div>
		<div class="content-container">
		{% block content %}
		{% endblock %}
		</div>
		<div class="footer" style="margin-top:0px;">
			<div class="social-bar">
				<a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
				<a href="#" class="google"><i class="fa fa-google"></i></a>
				<a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
			</div>
			<div class="page-footer">
				<h3>Support</h3>
				<a href="">FAQ</a><br>
				<a href="">Terms & conditions</a>
			</div>
		</div>
	</body>
	<script src="{% static 'js/blog_base.js' %}"></script>

</html>