{% extends 'blog/home_base.html' %}
	{% block content %}
	<div class="img-transist">
		<div class="img4" style="background-image:url('https://animals.sandiegozoo.org/sites/default/files/2016-08/hero_gray_wolf_animals.jpg');"></div>
	</div>
	<div class="welcome">
		<h1>Welcome</h1>
		<p>What's up and welcome to the website of VictorLeRed. If it is your first visit, please feel free to read my blog posts and leave comment. I also regularly post my own videos that you can find @..., if you like my videos please smash that subscribe button and knock that notification bell. If you are familiar with what I do and you're a fan then don't forget to browse through the item store. I hope you enjoy your experience.</p>
		<br>
		<p>If you don't already know, I am a youtuber (specifically into games and fun activities). I was born in South Africa and I have a crappy British accent. I like long, slow walks next to a lake whilst shooting a player's face off with a shotgun in Fortnite. I can do an excellent Russian impression.</p>
	</div>
{% endblock %}