{% extends 'blog/base.html' %}
{% block content %}
<h1>Search</h1>
<p>Having trouble finding a post you are looking for? You can search the title of the post.</p>
<form action="." method="GET">
	<label for="q">Search: </label>
	<input type="text" name="q" value="{{ query|escape }}">
	<input type="submit" value="Search">
</form>

{% if query %}
	<h2>Results for "{{ query|escape}}":</h2>
	{% if results %}
		<h3>In posts:</h3>
		<ul>
		{% for post in results %}
			<li><a href="{% url 'post_detail' pk=post.pk %}">{{ post|escape }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No result found :(</p>
	{% endif %}
{% endif %}
{% endblock %}