{% extends 'blog/base.html' %}
{% block content %}
			{% if user.is_superuser %}
			{% for post in posts %}
			<div class="post-picture" style="background-image:url('/media/{{ post.post_picture }}');"></div>
			<div class="list">
				<div class="list-container">
					<div class="post">
						<p class="date">Created: {{ post.created_date|date:'F d, Y' }}</p>
						<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
						<p>{{ post.text|truncatechars:200 }}</p>
					</div>
				</div>
			</div>
			{% empty %}
			<div class="list">
				<p>There are no drafts to be published</p>
			</div>
			{% endfor %}
			{% else %}
			<div class="list topless">
				<div class="list-container">
					<h1>Warning</h3>
					<p>You are not authorised to use development tools</p>
				</div>
			</div>
			{% endif %}
{% endblock %}