{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="list">
	<h1>Edit profile</h1>
	<div class="list-container">
		{% if user.username %}
			<div class="profile-menu">
				<a href="{% url 'profile_view' pk=user.pk %}">Profile</a>
				<a href="{% url 'profile_edit' %}">Edit</a>
				<a href="{% url 'logout' %}">Log out</a>
			</div>
			{% endif %}
		<form method="post" class="post-form" enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in user_form %}
				<p>
					{% render_field field placeholder=field.label %}
					{% for error in field.errors %}
						<small style="color: red">{{ error }}</small>
					{% endfor %}
				</p>
				{% endfor %}
				{% for field in profile_form %}
				<p>
					{% render_field field placeholder=field.label %}
					{% for error in field.errors %}
						<small style="color: red">{{ error }}</small>
					{% endfor %}
				</p>
				{% endfor %}
			<button type="submit">Save changes</button>
		</form>
	</div>
</div>
{% endblock %}