{% extends 'blog/base.html' %}

{% block content %}
<div class="list">
	<a href="/media/{{ profile.profile_picture }}" class="profile-picture" style="background-image: url('/media/{{ profile.profile_picture }}');"></a>
	<h1>{{ profile.user }}</h1>
	<div class="list-container">
		<div class="profile-view">
			{% if user.username %}
			<div class="profile-menu">
				<a href="{% url 'profile_view' pk=user.pk %}">Profile</a>
				<a href="{% url 'profile_edit' %}">Edit</a>
				<a href="{% url 'cart' pk=user.pk %}">Cart</a>
				<a href="">Settings</a>
				<a href="{% url 'logout' %}">Log out</a>
			</div>
			{% endif %}
			<div class="profile-detail">
				<p><label>First name: </label>{{ profile.first_name }}</p>
				<p><label>Last name: </label>{{ profile.last_name }}</p>
				<p><label>Bio: </label>{{ profile.bio }}</p>
				<p><label>Location: </label>{{ profile.location }}</p>
				<p><label>Birth date: </label>{{ profile.birth_date }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}