{% extends 'blog/base.html' %}
{% block content %}
<div class="list">
	<div class="list-container">
		<h1>Edit profile</h1>
		<p>Adding to your profile is optional, not mandatory. If you enter nothing onto the form and save it, you will not be 
		prompted to finish the form.
		<form method="post" class="post-form" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<button type="submit">Save changes</button>
		</form>
	</div>
</div>
{% endblock %}