{% extends 'blog/base.html' %}

{% block content %}
    <div class="video">
        {% if video.published_date %}
            <div class="date">
                {{ video.published_date }}
            </div>
		{% else %}
			<a class="btn btn-default" href="{% url 'video_publish' pk=video.pk %}">Publish</a>
        {% endif %}
		{% if user.is_superuser %}
		<a class="btn btn-default" href="{% url 'video_edit' pk=video.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		<a class="btn btn-default" href="{% url 'video_remove' pk=video.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		{% endif %}
        <h1>{{ video.title }}</h1>
		<iframe width="1260" height="750" src="{{ video.url }}"></iframe>
		<p>{{ video.discription }}</p>
    </div>
	<hr>
	<h3>Comments</h3>
	{% if user.is_authenticated %}
	<div class="comment-button">
		<a href="{% url 'add_comment_to_video' pk=video.pk %}">Add comment</a>
	</div>
	{% else %}
	<p>Please sign up or log in to comment</p>
	{% endif %}
	{% for comment in video.comments.all %}
		{% if user.is_superuser or comment.video_approved_comment %}
		<div class="comment">
			<img src="profile_picture.png" alt="Avatar">
			<div class="date">
				{{ comment.created_date }}
				{% if not comment.video_approved_comment %}
					<a class="btn btn-default" href="{% url 'video_comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					<a class="btn btn-default" href="{% url 'video_comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
				{% endif %}
			</div>
			<strong>{{ comment.author }}</strong>
			<p>{{ comment.text|linebreaks }}</p>
		</div>
		{% endif %}
	{% empty %}
		<p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}