@media only screen and (max-width: 700px) {
	.greeting {display:none;}
	.user {display: block;}
	.header-name {width: 100%;}
	.slide-center {width: 100%;}
	.list {padding: 0;}
	.job-tile {
		display: block;
		width: 100%;
	}
	.account-login a {
		width: 100%;
	}
	.button-half {
		width: 100%;
	}
}