@media only screen and (max-width: 700px) {
	.greeting {display:none;}
	.user {display: block;}
	.header-name {width: 100%;}
	.slide-center {width: 100%;}
	.list {padding: 0;}
	.job-tile {
		display: block;
		width: 100%;
	}
	.account-login a {
		width: 100%;
	}
	.button-half {
		width: 100%;
	}
	.modal-pop-content {
		top:0;
		width: 100%;
		height: 100%
	}
}

@media only screen and (max-width: 409px) {
	.main {
		display:none;
	}
	.main-menu {
		background-color: black;
		display:none;
		transition: 1s ease;
	}
	.main-menu a {
		width:100%;
		text-align:left;
	}
	.navigation-menu a {
		text-align:left;
	}
	.menu-bars {
		display: inline-block;
	}
}